@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500;600;700&display=swap');

*::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: 'Poppins',sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: inherit;
    transition: color .5s;
}

.topbar a:hover {
    color: #BBBBBB;
    cursor: pointer;
}

.topbar-left-icons {
    display: flex;
    text-align: center;
}

.elements-topbar {
    text-transform: uppercase;
    padding-left: 25px;
    font-weight: 600;
    display: list-item;
    align-items: center;
    display: flex;
}
.elements-topbar span{
    padding-left: 20px;   
}

#facebook-icon {
    margin-top: 2px;
    height: 22px;
    margin-right: 30px;
}

.numero-telephone-site {
    align-items: center;
    display: flex;
}

#numero {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 25px;
    margin-right: 150px;
}

#telephone-image {
    width: 25px;
    height: 25px;
}

#slogan {
    font-family: 'Pattaya', sans-serif;
    font-size: 0.950rem;
    margin-left: 15px;
    margin-top: 25px;
}

#contact {
    font-weight: 600;
    margin-right: 30px;
}

.logo-ca-croustille-topbar {
    margin-left: 5px;
    height: 70px;
    width: 70px;
}

.topbar {
    border-bottom: 1px solid;
    background-color: #18171C;
    justify-content: space-between;
    display: flex;
    font-weight: 500;
    height: 70px;
}

.reseau-nav {
    align-items: center;
    display: flex; 
}

#panier-icon:hover {
    filter: brightness(85%);
    transition: color .3s;
}

nav {
    box-shadow: 0px 2px 2px #2a2a2a;
    width: 100%;
    background-color: #f3f3f3;
    font-weight: 500;
    text-align: center;
}

.block-numero {
    align-items: center;
    padding: 1px;
}

.block-numero p {
    color: #18171C;
    font-size: 1.2rem;
    margin: 3px;
    font-weight: 600;
}

h1 {
    color: #fff;
    font-family: 'Pattaya', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

.block-title {
    text-align: center;
}

.first-title h1 {
    letter-spacing: 1px;
    border-radius: 2px;
    padding: 5px 15px;
    margin-top: 45px;
    background-color: #18171C;
    display: inline-block;
    transform:rotate(-1deg);
}

.second-title-fait-maison h2 {
    background-color: #fff;
    display: inline-block;
    position: relative;
    bottom: 30px; left: 120px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    transform:rotate(-5deg);
}

.second-title-classic-fait-maison h2 {
    background-color: #fff;
    display: inline-block;
    position: relative;
    bottom: 30px; left: 90px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    transform:rotate(-5deg);
}

.second-title-marmaille-fait-maison h2 {
    background-color: #fff;
    display: inline-block;
    position: relative;
    bottom: 30px; left: 80px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    transform:rotate(-5deg);
}

.grille-burgers {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.burger {
    padding: 30px;
    align-items: center;
}

.image-burger {
    border-top: 2.5px solid;
    border-left: 2.5px solid;
    color: #18171C;
    box-shadow: 4px 4px 4px rgba(35, 35, 35, .3);
    max-width: 280px;
    max-height: 180px;
}

.image-burger:hover {
    filter: opacity(95%);
}

.nom-prix-burger p {
    color: #18171C;
    font-size: 0.950rem;
    font-weight: 600;
    margin-bottom: 0;
}

.savoir-plus p {
    font-weight: 500;
    color: #919191;
    font-size: 0.9rem;
    margin: 0;
}

.nom-prix-burger span {
    font-style: italic;
    font-weight: 500;
    color: #585858;
}

.grille-burgers-classic {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.burger-classic {
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    align-items: center;
}

.grille-burgers-marmaille {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.burger-marmaille {
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    align-items: center;
}

.grille-croustillants {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.croustillants {
    padding: 50px;
    align-items: center;
}

.image-croustillants {
    border-top: 2.5px solid;
    border-left: 2.5px solid;
    color: #18171C;
    box-shadow: 4px 4px 4px rgba(35, 35, 35, .3);
    max-height: 170px;
}

.image-croustillants:hover {
    filter: opacity(95%);
}

.nom-prix-croustillants p {
    font-weight: 600;
    font-size: 0.950rem;
    margin-bottom: 0;
    color: #18171C;
}

.savoir-plus p {
    font-weight: 500;
    color: #919191;
    font-size: 0.9rem;
    margin: 0;
}

.nom-prix-croustillants span {
    font-style: italic;
    font-weight: 500;
    color: #585858;
}

.grille-accompagnements {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.accompagnements {
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    align-items: center;
}

.accompagnements {
    padding: 30px;
    align-items: center;
    margin: 15px;
}

.image-accompagnements {
    border-top: 2.5px solid;
    border-left: 2.5px solid;
    color: #18171C;
    box-shadow: 4px 4px 4px rgba(35, 35, 35, .3);
    max-height: 160px;
}

.image-accompagnements:hover {
    filter: opacity(95%);
}

.nom-prix-accompagnements p {
    color: #18171C;
    font-size: 0.950rem;
    font-weight: 600;
}

.nom-prix-accompagnements span {
    font-style: italic;
    font-weight: 500;
    color: #585858;
}

.second-title-accompagnements-fait-maison h2 {
    background-color: #fff;
    display: inline-block;
    position: relative;
    bottom: 30px; left: 100px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    transform:rotate(-5deg);
}

.second-title-desserts-fait-maison h2 {
    background-color: #fff;
    display: inline-block;
    position: relative;
    bottom: 30px; left: 50px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    transform:rotate(-5deg);
}

.grille-desserts {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.desserts {
    padding: 30px;
    align-items: center;
}

.image-desserts {
    border-top: 2.5px solid;
    border-left: 2.5px solid;
    color: #18171C;
    box-shadow: 4px 4px 4px rgba(35, 35, 35, .3);
    max-width: 200px;
}

.image-desserts:hover {
    filter: opacity(95%);
}

.nom-prix-desserts p {
    color: #18171C;
    font-size: 0.950rem;
    font-weight: 600;
}

.nom-prix-desserts span {
    font-style: italic;
    font-weight: 500;
    color: #585858;
}

.button-desserts {
    margin-left: 20px;
}

.footer {
    color: #fff;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
}

.footer p {
    color: #919191;
}

.footer li {
    list-style-type: none;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    transition: .3s;
    color: #BBBBBB;
}

.mention-rights {
    padding: 55px;
}

.reseaux {
    padding: 40px;
}

.reseaux h2 {
    text-transform: uppercase;
}

.reseaux img {
    margin-left: 10px;
    height: 25px;
}

.reseaux img:hover {
    filter: opacity(80%);
}

.avis {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.experience {
    background-color: #f3f3f3;
}

.experience-title {
    font-weight: 700;
    font-size: 1.8rem;
    height: 80px;
    border-top: solid 2px #fff;
    background-color: #f3f3f3;
    align-items: center;
    display: flex;
    justify-content: center;
}

.experience p {
    margin: 0px;
}

/*----------LES FORMULES----------------------*/
.block-color-ptite-dalle {
    box-shadow: 2px 3px 3px #707070;
    display: flex;
    height: 80px;
    background-color: #1A1A1A;
    justify-content: center;
}

.block-color-grosse-dalle {
    box-shadow: 2px 3px 3px #707070;
    display: flex;
    height: 80px;
    background-color: #1A1A1A;
    justify-content: center;
}

.block-color-ptite-dalle p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 15px;
}

.block-color-grosse-dalle p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-top: 15px;
}

.block-color-ptite-dalle span {
    display: inline-block;
    margin-left: 10px;
    font-weight: 700;
    background-color: #fff;
    color: #1A1A1A;
    padding: 5px;
    transform: rotate(-5deg);
}

.block-color-grosse-dalle span {
    display: inline-block;
    margin-left: 10px;
    font-weight: 700;
    background-color: #ffffff;
    color: #1A1A1A;
    padding: 5px;
    transform: rotate(-5deg);
}

.phrase-telling-black {
    justify-content: center;
}

.formule-grosse-dalle {
    background-color: #1A1A1A;
    justify-content: center;
    max-height: 350px;
    display: flex;
}

.formule-grosse-dalle img {
    width: 400px;
    height: auto;
}

.formule-ptite-dalle {
    background-color: #f3f3f3;
    justify-content: center;
    max-height: 350px;
    display: flex;
}

.formule-ptite-dalle img {
    width: 400px;
    height: auto;
}

#menu_deroulant_contact{
    display: none;
}


/*-------------MARGIN ITEM-------------*/

.nom-prix-burger-poulet p {
    padding-left: 35px;
}

.nom-prix-burger-boeuf p {
    padding-left: 40px;
}

.nom-prix-burger-chaloupe p {
    padding-left: 55px;
}

.nom-prix-burger-veggie p {
    padding-left: 70px;
}

.nom-prix-burger-marmaille-poulet p{
    padding-left: 45px;
}

.nom-prix-burger-marmaille-boeuf p {
    padding-left: 47px;
}

.nom-prix-accompagnements-frite p {
    padding-left: 60px;
}

.nom-prix-accompagnements-onionrings p {
    padding-left: 70px;
}

.nom-prix-desserts-tiramisu p {
    padding-left: 20px;
}



/*------------------MEDIA-----------------*/

@media screen and (max-width: 715px) {

    .experience-title {
        font-weight: 700;
        font-size: 1.4rem;
        height: 80px;
        border-top: solid 2px #fff;
        background-color: #f3f3f3;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .block-color-ptite-dalle span {
        font-size: 1.3rem;
        display: inline-block;
        margin-left: 10px;
        font-weight: 700;
        background-color: #fff;
        color: #1A1A1A;
        padding: 5px;
        transform: rotate(-5deg);
    }

    .block-color-ptite-dalle p {
        font-size: 1.3rem;
        font-weight: 500;
        color: #fff;
        margin-top: 15px;
    }

    .block-color-ptite-dalle {
        box-shadow: 2px 3px 3px #707070;
        display: flex;
        height: 70px;
        background-color: #1A1A1A;
        justify-content: center;
    }

    .logo-cc {
        height: 60px;
    }

    .logo-cc img {
        margin-top: 3px;
        
    }

    .reseau-nav #contact {
        margin: 0;
    }

    #contact {
        text-transform: uppercase;
        font-weight: 700;
        color: #18171C;
        font-size: 0.600rem;
        background-color: #f3f3f3;
        padding: 20px 5px 20px 5px;
    }

    .reseaux {
        margin-right: 50px;
    }

    .logo-facebook {
        display: none;
    }

    #facebook-icon {
        margin-right: 15px;
        height: 14.6px;
        width: 8.6px;
    }

    .topbar {
        display: flex;
        height: 55px;
        align-items: center;
    }

    .logo-ca-croustille-topbar {
        margin-top: 6px;
        height: 55px;
        width: 55px;
    }

    .reseau-nav {
        font-size: 0.6rem;
        margin-top: 5px;
    }

    #contact {
        font-size: 0.9rem;
        margin-right: 8px;
        margin-left: 4px;
    }

    .elements-topbar{
        display: flex;
        align-items: center;
        font-size: 0.8rem;
    }

    .elements-topbar span{
        padding-left: 10px;   
    }

    .top-menu-item {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .nav-item {
        font-size: 0.8rem;
        margin-top: 3px;
        margin: 5px;
    }

    .first-title h1 {
        font-size: 1.7rem;
    }

    .second-title-fait-maison h2 , .second-title-classic-fait-maison h2 , .second-title-marmaille-fait-maison h2 {
        font-size: 0.950rem;
        position: relative;
        bottom: 20px; left: 100px;
        padding: 0px 10px;
    }  

    .block-numero p {
        font-size: 1rem;
    }
    
}

/*menu*/

.menu_deroulant {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px; 
    right: 15px;  
}

@media screen and (max-width: 455px){

    .menu_deroulant{
        display: block;
        z-index: 2;
        position: fixed;
    }
    #menu_deroulant_contact{
        display: block;
    }
    .elements-topbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-image: url(img/back_menu.jpg);
        width: 100%;
        height: 101vh;
        display: flex;
        justify-content: center;
        margin-left: -200%;
        transition: all 0.5s ease;
        
        
    }
    .mobile-menu{
        margin-left: 0;
        padding-left: 0;
        z-index: 1; 
        position: fixed;

    }

    .elements-topbar a{
        margin: 25px 0;
        font-size: 1.5em;
        color: white;
        font-weight: 500;

    }

    #contact{
        display: none;
    }


}